<div class="navbar navbar-default navbar-static-top
    {% block nav-style %}{% endblock %}">
        <div class="container p-none">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ customer_name }} CRM</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href=""
                               class="p-r-none">Accounts</a></li>
                    {% else %}
                        <li><a href={% url 'login' %}>Login</a></li>
                        <li><a href="" class="p-r-none">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>